<script setup lang="ts"></script>

<template>
  <v-app>
    <v-layout>
      <RouterView name="header"></RouterView>
      <RouterView name="menu"></RouterView>

      <v-main><RouterView></RouterView></v-main>
    </v-layout>
  </v-app>
</template>
